.container {
  border: solid 2px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1em;
  align-items: center;
}

.prix {
  font-weight: bold;
}

.dispo {
  color: green;
}

.pasdispo {
  color: red;
}
